{% extends 'base.html.twig' %}

{% block title %}Détail de film{% endblock %}
{% block body %}
    <h1>{{ film.titre }}</h1>
    <p>Durée : {{ film.duree }}</p>
    <h1>Voici la liste des séances:</h1>
    <div class="d-flex mx-auto flex-column" style="width: 90% ; margin:auto">
        {% for seance in film.seances %}
            <div>{{ seance.dateProjection}}</div>
        {% endfor %}
    </div>
{% endblock %}
